=form_for([:admin, @service]) do |f|
	.panel.mb25.mt5
		.panel-heading
			%span.panel-title.hidden-xs
				=verb.capitalize
				услуги
			%ul.nav.panel-tabs-border.panel-tabs
				%li.active
					%a{"data-toggle" => "tab", :href => "#tab1_1"} Общее
		.panel-body.p20.pb10
			.tab-content.pn.br-n.admin-form
				#tab1_1.tab-pane.active
					.section.row.mbn
						.col-md-4
							.fileupload.fileupload-new.admin-form{"data-provides" => "fileupload"}
								.fileupload-preview.thumbnail.mb20
									-if @service.servicepics.any?
										=image_tag @service.servicepics.first.servicepic
									-else
										=holder_tag '222x140'
								.row
									.col-xs-12.pr5
										=file_field_tag :servicepic, name: "servicepics[]", multiple: true, id: "fileupload", type: :file
							-if @service.servicepics.any?
								.row
									.col-md-12.pl15
										#p1.panel.sort-disable.mb50{"data-panel-collapse" => "false", "data-panel-color" => "false", "data-panel-fullscreen" => "false", "data-panel-remove" => "false"}
											.panel-heading
												%span.panel-icon
													%i.fa.fa-pencil
												%span.panel-title Удалить
											.panel-body
												%p
													=f.fields_for :servicepics do |builder|
														=image_tag builder.object.servicepic, width: 40
														=builder.label :_destroy, 'Удалить фотографию'
														=builder.check_box :_destroy
														%br
														%hr.short.alt
						.col-md-8.pl15
							.section.mb10
								%label.field.prepend-icon
									=f.text_field :title, id: 'name2', class: 'event-name gui-input br-light light', placeholder: 'Введите название'
									%label.field-icon{:for => "name2"}
										%i.fa.fa-tag
							.section.mb10
								%label.field.prepend-icon
									=f.text_area :description, id: 'comment', class: 'gui-textarea br-light bg-light', placeholder: 'Описание услуги', style: 'height: 160px'
									%label.field-icon{:for => "comment"}
										%i.fa.fa-comments
					%hr.short.alt
						.section.row.mbn
							.col-sm-8
							.col-sm-4
								%p.text-right
									=f.submit 'Сохранить услугу', class: 'btn btn-primary', id: 'submit-data'