%main.cd-main
  %section.cd-section.index.visible
    / content-block starts here
    .content-block.light
      .map-wrap
        #map.map
      .container
        .panel-top
          .left.pull-left
            %a#menu-top-link.menu-top-link Menu
          .logo.pull-left.text-center
            %a{:href => "#", :title => "ArtLand Studio"}
              %img{:alt => "ArtLand Studio", :src => "img/logo.svg", :width => "48"}/
          .phone.pull-right.text-right
            %a{:href => "callto:+74952874787"} +7 495 287-47-87
        #contacts.content
          .row
            .col-md-6.contacts
              .row
                .col-md-6
                  .address
                    %p
                      %strong Адрес
                    %p Ленинский пр-т, дом1, этаж 14, офис 1413 (проезд от метро &laquo;Октябрьская&raquo;).
                    %p &nbsp;
                    %p
                      %strong Режим работы офиса
                    %p По будням с 10.30 до 19.00 без обеденного перерыва
                    %p &nbsp;
                    %p
                      Суббота, воскресенье
                      %br - выходные дни.
                .col-md-6.mtop
                  .phone
                    %p
                      %a{:href => "callto:+74951126327"} +7 495 112-63-27
                    %p
                      %a{:href => "callto:+74953621547"} +7 495 362-15-47
                    %p
                      %a{:href => "callto:+74951512575"} +7 495 151-25-75
                  .emails
                    %p
                      %a{:href => "mailto:support@artlands.ru"} support@artlands.ru
                    %p
                      %a{:href => "mailto:info@artlands.ru"} info@artlands.ru