%main.cd-main
  %section.cd-section.index.visible
    / content-block starts here
    .content-block.light
      .map-wrap
        #map.map
      .container
        =render 'shared/top_bar'
        #contacts.content
          .row
            .col-md-6.contacts{style: 'margin-top: 0px;'}
              .row
                .col-md-6
                  .address
                    %p
                      %strong Адрес
                    %p
                      =Setting.first.address
                    %p &nbsp;
                    %p
                      %strong Режим работы офиса
                    %p По будням с 10.30 до 19.00 без обеденного перерыва
                    %p &nbsp;
                    %p
                      Суббота, воскресенье
                      %br - выходные дни.
                .col-md-6.mtop
                  .phone
                    %p
                      =link_to Setting.first.phone, "callto:#{Setting.first.phone.gsub(/\s+/, "").gsub(/-/, "")}"
                    %p
                      =link_to Setting.first.phone2, "callto:#{Setting.first.phone2.gsub(/\s+/, "").gsub(/-/, "")}"
                  .emails
                    %p
                      =link_to Setting.first.mail, "mailto:#{Setting.first.mail}"