.panel-top
  .left.pull-left
    %a#menu-top-link.menu-top-link Menu
  .logo.pull-left.text-center
    %a{:href => "#", :title => "ArtLand Studio"}
      =image_tag "front/logo.svg", alt: "ArtLand Studio", width: '48'
  .phone.pull-right.text-right
    =link_to Setting.first.phone, "callto:#{Setting.first.phone.gsub(/\s+/, "").gsub(/-/, "")}"