%main.cd-main
  %section.cd-section.index.visible
    / content-block starts here
    .content-block.dark.detail
      .container
        .panel-top
          .left.pull-left
            %a#menu-top-link.menu-top-link Menu
          .back.pull-left.text-center
            .middle
              =link_to root_path, title: 'ArtLand Studio' do
                %span.close-menu
            .helper
          .phone.pull-right.text-right
            %a{:href => "callto:+74952874787"} +7 495 287-47-87