.row
	.col-md-4.col-xs-12
		-if @project.errors.any?
			%ul.alert.alert-danger
				-@project.errors.full_messages.each do |msg|
					%li 
						=msg
	.col-md-8

=form_for([:admin, @project], html: {multipart: true}) do |f|
	.panel.mb25.mt5
		.panel-heading
			%span.panel-title.hidden-xs
				=verb.capitalize
				проекта
			%ul.nav.panel-tabs-border.panel-tabs
				%li.active
					%a{"data-toggle" => "tab", :href => "#tab1_1"} Общее
		.panel-body.p20.pb10
			.tab-content.pn.br-n.admin-form
				#tab1_1.tab-pane.active
					.section.row.mbn
						.col-md-4
							.fileupload.fileupload-new.admin-form{"data-provides" => "fileupload"}
								.fileupload-preview.thumbnail.mb20
									-if @project.projectphotos.any?
										=image_tag @project.projectphotos.first.image.url(:thumb_medium)
									-else
										=holder_tag '222x140'
								.row
									.col-xs-12.pr5
										=file_field_tag :image, name: "projectphotos[]", id: 'fileupload', type: :file, multiple: true
										/ =f.fields_for :projectphoto, Projectphoto.new, html: { multipart: true, id: "fileupload"	} do |op|
										/ 	= op.file_field :image, multiple: true, id: 'fileupload', name: "project[projectphotos_attributes][][image]", class: 'button btn-system btn-file btn-block'
							-if @project.projectphotos.any?
								.row
									.col-md-12.pl15
										#p1.panel.sort-disable.mb50{"data-panel-collapse" => "false", "data-panel-color" => "false", "data-panel-fullscreen" => "false", "data-panel-remove" => "false"}
											.panel-heading
												%span.panel-icon
													%i.fa.fa-pencil
												%span.panel-title Удалить
											.panel-body
												%p
													=f.fields_for :projectphotos do |builder|
														=image_tag builder.object.image.url(:thumb_small)
														=builder.label :_destroy, 'Удалить фотографию'
														=builder.check_box :_destroy
														%br
														%hr.short.alt
						.col-md-8.pl15
							.section.mb10
								%label.field.prepend-icon
									=f.text_field :title, id: 'name2', class: 'event-name gui-input br-light light', placeholder: 'Введите название'
									%label.field-icon{:for => "name2"}
										%i.fa.fa-tag
							.section.mb10
								%label.field.prepend-icon
									=f.text_field :desctitle, id: 'desctitle', class: 'event-name gui-input br-light light', placeholder: 'Введите заголовок описания'
									%label.field-icon{:for => "name2"}
										%i.fa.fa-tag
							.section.mb10
								%label.field.prepend-icon
									=f.text_area :description, id: 'comment', class: 'gui-textarea br-light bg-light', placeholder: 'Описание проекта', style: 'height: 160px'
									%label.field-icon{:for => "comment"}
										%i.fa.fa-comments
							.section.mb10
								%label.field.option.mt10
									%em.small-text.text-muted Выберите сотрудников, учавстоваших в проекте
									=collection_check_boxes(:project, :teammember_ids, Teammember.all, :id, :name) do |b|
										%br
										=b.label(:"data-value" => b.value) { b.check_box + " - " + b.text }
					%hr.short.alt
						.section.row.mbn
							.col-sm-8
							.col-sm-4
								%p.text-right
									=f.submit 'Сохранить проект', class: 'btn btn-primary', id: 'submit-data'