%main.cd-main
  %section.cd-section.index.visible
    / content-block starts here
    .content-block.light
      .container
        =render 'shared/top_bar'
        #services.content
          .flexslider.flex-slider
            %ul.services.slides
              -@services.in_groups_of(4, false).each do |service_four|
                %li
                  -service_four.each do |service_single|
                    .service
                      .image.grayscale
                        =image_tag service_single.servicepics.first.servicepic.to_s
                      .center.dark
                        .middle
                          .title
                            =link_to service_single.title, front_service_path(service_single.id)
                        .helper