%main.cd-main
  %section.cd-section.index.visible
    / content-block starts here
    .content-block.dark.detail
      .container
        .panel-top
          .left.pull-left
            %a#menu-top-link.menu-top-link Menu
          .back.pull-left.text-center
            .middle
              =link_to root_path, title: 'ArtLand Studio' do
                %span.close-menu
            .helper
          .phone.pull-right.text-right
            %a{:href => "callto:+74952874787"} +7 495 287-47-87
        .content.service
          .number-slide
            %span.current
            %span.total
          .description
            .row
              .col-md-6
                .title
                  =@service.title
              .col-md-6
                .text
                  %p
                    =@service.desctitle
                  %p
                    -@splittedText[0].each do |first|
                      =first
                  %p
                    -if @splittedText[1]
                      -@splittedText[1].each do |second|
                        =second
                  %p.yellow
                    -if @splittedText[2]
                      -@splittedText[2].each do |third|
                        =third
          .flexslider.flex-slider-detail
            %ul.services.slides
              -@service.servicepics.each do |sp|
                %li
                  .image
                    =image_tag sp.servicepic.url(:main_image)
            .custom-navigation
              %a.flex-prev{:href => "#"}
              %a.flex-next{:href => "#"}
          .number-slide.bottom
            %span.current
            %span.total
    / content-block ends here