%main.cd-main
	%section.cd-section.index.visible
		/ content-block starts here
		.content-block.light
			.container
				.panel-top
					.left.pull-left
						%a#menu-top-link.menu-top-link Menu
					.logo.pull-left.text-center
						%a{:href => "#", :title => "ArtLand Studio"}
							=image_tag "front/logo.svg", alt: "ArtLand Studio", width: '48'
					.phone.pull-right.text-right
						%a{:href => "callto:+74952874787"} +7 495 287-47-87
				#home.content
					.flexslider.flex-slider
						%ul#projects.projects.slides
							-@projects.each do |project|
								%li
									.image.grayscale
										=image_tag project.projectphotos.first.image
									.right
										.middle
											.title
												=link_to project.title
										.helper
									.left
										.middle
											.text-short
												%p
													%strong
														=truncate(project.desctitle, length: 50)
												%p
													=truncate(project.description, length: 250)
											.read-more
												=link_to 'Подробнее', front_project_path(project.id)
										.helper