#menu-top.menu-top
  .container
    .menu-wrap
      .row
        .column.col-md-3
          %ul.projects.underline
            -Project.all.each do |project|
              %li
                =link_to project.title, front_project_path(project.id)
                .group
                  =project.desctitle
        .column.col-md-3
          %ul.menu.underline
            -Service.all.each do |service|
              %li
                =link_to service.title, front_service_path(service.id)
          .copy
            %p Copyright &copy; 2015 Artland Studio
          .development
            %p 
              Разработка сайта: 
              =link_to 'Yadadya.Creations', 'http://yadadya.com'
        .column.col-md-3
          %ul.team.underline
            -Teammember.all.each do |member|
              %li
                =link_to member.name, front_teammembers_path
                .info
                  %span.profession
                    =member.position
                  %span.works
                    =member.projects.count
        .column.col-md-3
          .address
            %p
              %strong Адрес
            %p
              =Setting.first.address
            %p &nbsp;
            %p
              %strong Режим работы офиса
            %p По будням с 10.30 до 19.00 без обеденного перерыва
            %p &nbsp;
            %p
              Суббота, воскресенье
              %br - выходные дни.
          .phone
            %p
              =link_to Setting.first.phone, "callto:#{Setting.first.phone.gsub(/\s+/, "").gsub(/-/, "")}"
            %p
              =link_to Setting.first.phone2, "callto:#{Setting.first.phone2.gsub(/\s+/, "").gsub(/-/, "")}"
          .emails
            %p
              =link_to Setting.first.mail, "mailto:#{Setting.first.mail}"
          #map-mini
            =image_tag 'front/map-mini.jpg'
      .clearfix
      %ul.nav
        %li
          .item
            =link_to root_path do
              %span.number 01
              %span.line
              %span.title Работы
        %li
          .item
            =link_to front_services_path do
              %span.number 02
              %span.line.half
              %span.title Услуги
        %li
          .item
            =link_to front_teammembers_path do
              %span.number 03
              %span.line.half
              %span.title Команда
        %li
          .item
            =link_to contact_path do
              %span.number 04
              %span.line.half
              %span.title Контакты
    #close-menu-top.close-menu Закрыть